body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 25, 25);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  color: #fff;
  text-align: left;
  border: none;
  background-color: rgb(44, 44, 44);
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: rgb(72, 71, 71);
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(103, 103, 103);
}

button:active {
  background-color: rgb(126, 124, 124);
}

.operator-btn {
  background-color: rgb(238, 155, 1);
}

.operator-btn:hover {
  background-color: rgb(195, 137, 30);
}

.operator-btn:active {
  background-color: rgb(159, 118, 40);
}

.equals-btn {
  grid-column: span 4;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
